{% load staticfiles %}
<html>
    <head>
        <link rel='stylesheet' href='{% static "css/base.css" %}'>
        <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}'>
        <script src='{% static "js/bootstrap.min.js" %}'></script> 
    </head>
    <body>
        {% block content %}
            <div class='container'>
                <div class='row'>
                    {% for obj in object_list %}
                        <div class="col-sm-12 text-center border-dark">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>{{ obj.title }}</h3>
                                    <p>{{obj.timestamp}}</p>
                                    <p>{{obj.content}}</p>
                                    <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Details</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endblock content %}
    </body>
</html>