{% extends 'base.html' %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <form method='GET' action=''>
                <input type='text' name='q' placeholder="search posts"/>
                <input type="submit" value='{{ request.GET.q }}' />
            </form>
            {% for obj in object_list %}
                <div class="col-sm-12 text-center border-dark">
                    <div class="thumbnail">
                        {% if obj.image %}
                        <img src="{{ obj.image.url }}">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ obj.title }}</h3>
                            <p>{{obj.timestamp}}</p>
                            <p>{{obj.content}}</p>
                            <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Details</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>
            
                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock content %}